doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    title flo
    link(rel="stylesheet" type="text/css" href="/dist/css/styles.css")
    script(src="/node_modules/es6-shim/es6-shim.min.js")
    script(src="/node_modules/zone.js/dist/zone.js")
    script(src="/node_modules/reflect-metadata/Reflect.js")
    script(src="/node_modules/systemjs/dist/system.src.js")
    
    script(src="/systemjs.config.js")
    script().
      System.import('/dist/boot').catch(function(err){ console.error(err); });
    //
     The body of the html document should only contain the tag for the top level angular2 component.
     Anything else should be nested within the top level angular2 component.
    body
     my-root
